body{
    background-image: linear-gradient(to right, #DFF1DA, #86a07f);
}

.colorMenu{
    background-image: linear-gradient(to right, #7BD665, #a9d1a1);
    color: white;
    height: 70px;
}
.colorRodape{
    background-image: linear-gradient(to right, #a9d1a1, #7BD665);
    color: black;
    width: 100%;
    height: 300px;
}




.pesquisaPersonalizar{
    width: 70%;
}
.topoBotoes{
    width: 110px;
    margin-left: 25px;
}
.topoBotoesDois{
    width: 85px;
    margin-left: 20px;
}
.RodapeBotoes{
    width: 8%;
    margin-left: 45%;
    margin-right: 45%;
}
.RodapeBotoesdois{
    width: 10%;
    margin-left: 45%;
    margin-right: 48%;
}
.editCarrosel{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%
}

.personalizarCard{
    position: relative;
    margin-top: -17%;
    margin-left: 1%;

}

.espacoCard{
    margin-left: 6%;
}
.espacoCarddois{
    margin-left: 110px;
}
.espacoCardtres{
    margin-left: 0.5%;
}
.personalizarlogin{
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 2px;
    
}

